{% load static %}

<!-- Card for details -->
<tr>
    <th scope="row">
        <img style="border-radius: 50%; max-width: 50px; max-height: 50px;"
             src="{% if contact.image %}
        {{ contact.image.url }}
        {% else %}
        {% static 'images/boy.png' %}
        {% endif %}"
             class="img-fluid"/>
    </th>
    <th>
        {{ SMS.owner.username }}
    </th>
    <th>
        <p style="white-space: normal;
        max-height:75px;
    overflow: auto;
    display: block;
    "> {{ SMS.content }}</p>
    </th>

</tr>
<!-- Card for details ends -->

